
:root {
    --primaryFontFamily : "Monument Extended";
     --primaryColor : #07472C;      
     /* --primaryColor: #881B30; */
     --textReleaseColor :#B81B30;
     --primaryTextColor: rgb(221, 221, 221);
    --defaultAnimDuration : 1s;
    --defaultBackgroundImage : "src/assets/Albums/theUnforgiving/theunforgiving.jpg";
    
  }