.videoPlay
{

    transition-property: transform;
    transition-duration: 1.4s;
    transition-timing-function: ease-in-out;
    position: fixed;
    left:2px;
    bottom :4px;
    /* transform : rotateY(90deg); */

    z-index: 12;
}

.iframeCSS
{  
   /* border : 1px solid #d1693c; */
   
}

.videoPlayDiv {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:transparent;
    /* width: 560px; */ 
    width: fit-content;;
    /* filter : brightness(100%) opacity(1); */
    z-index : 120;
}

.buttonPlayYoutubeDiv
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    left:2px;
    bottom :10px;

 
}

.exitInfoYoutube {
    display: block;
    /* justify-content: center;
    gap: 5px; */
    color: white;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(221,221, 221);
    font-size: 15px;
}


.superNovaImg {
    width:12em;
    border: 2px solid black;
    border-radius: 3px;
    -webkit-box-shadow: 5px 6px 16px 1px #000000; 
    box-shadow: 5px 6px 16px 1px #000000;
    transition : all 0.9s ease-in-out;

}

.flipInYAnim, .flipInVideo
{
    animation-name: flipInY;
    animation-delay: 4s;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
    

}

.flipInVideo {
    animation-name: flipInY;
    animation-delay: 0s;
}

.flipOutYAnim 
{
    animation-name: flipOutY;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.flipInXAnim {
    animation-name: flipInX;
    animation-duration: 1.5s;
    
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

.flipOutXAnim
{ 
    animation-name: flipOutX;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

.flipInZAnim {
    animation-name: flipInZ;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

.flipOutZAnim
{ 
    animation-name: flipOutZ;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}
.fadeOutAnim {
    animation: fadeOut 1.5s ease-in-out 0s;
    animation-fill-mode: forwards;
}

@keyframes flipInY {
    0% { transform: rotateY(90deg);}
    100% { transform: rotateY(0deg);}
}

@keyframes flipOutY {
    0% { transform: rotateY(0deg);}
    100% { transform: rotateY(90deg);}
}

@keyframes flipOutX {
     0% { transform: rotateX(0deg);}
    100% { transform: rotateX(90deg);}
}

@keyframes flipInX {
    0% { transform: rotateX(90deg);}
    100% { transform: rotateX(0deg);}
}


@keyframes flipOutZ {
     0% { transform: rotateZ(0deg);}
    100% { transform: rotateZ(90deg);}
}

@keyframes flipInZ {
    0% { transform: rotateZ(90deg);}
    100% { transform: rotateZ(0deg);}
}



@keyframes fadeOut {

    0% { opacity: 1; }
    100% { opacity: 0; }
  }



.hidden {
    transform: rotateY(90deg);
}

